#news{
    width: 30%;
}

#news_box{
width: 20%;
font-size: 0.8em;
}

.news_box_item {
    padding: 5px 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.news_box_item img{
    height: 20%;
    width: 20%;
    vertical-align: top;
}

.news_box_item a{
    text-decoration: none;
}

.news_box_item span{
    width: 100%;
    display: inline-block;
    padding-bottom: 4px;
}

.news_url{
    width: 80%;
    float: left;
    padding-bottom: 10px;
}

.news_box_item span:last-of-type  {
    text-align: right;
}
